---
layout: default
title: Films
pagination:
    enabled: true
---
<p><a href="https://vimeo.com/user66065605" target="_blank">Vimeo</a></p>

<h2>Films</h2>



<ul>
  {% for film in site.films %}
    <li>
      <h3>{{ film.title }}</h3>
      <p>{{ film.description }}</p>
      <img src="{{ film.thumbnail | relative_url }}" alt="{{ film.title }}"style="max-width: 800px; max-height: 450px;">
      <a href="{{ film.video_url }}" target="_blank">Watch</a>
    </li>
  {% endfor %}
</ul>



{% for film in paginator.films %}
  <span class="film-item">
    <span class="mobile-hide">{{ film.date | date: '%Y-%m-%d' }} >> </span>
    <a href="{{ film.url }}">{{ film.title }}</a>
    <span class="float-right mobile-hide">{{ film.categories }}</span>
  </span>
{% endfor %}

<div class="film-nav">
  {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&lt;- Older</a>
    {% endif %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer -&gt;</a>
    {% endif %}
  {% endif %}
</div>

