<div class="header">
  <div class="header-left">
    <!-- <img src="/assets/images/me.jpg" alt="Junduo Liu's Profile Image"> -->
    <div class="header-text">
      <h1>Junduo Liu</h1>
      <h5><i>Game Designer / Filmmaker</i></h5>
      <p><a href="mailto:jliu9963@gmail.com">jliu9963@gmail.com</a></p>
      <p><a href="https://www.instagram.com/endorphinsss/" target="_blank">Instagram</a></p>
    </div>
  </div>

  <div class="header-center">
    <nav class="nav-display">
      {% for item in site.data.nav %}
        <a href="{{ item.link }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
</div>
