<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>

<body>
    <div id="global-bg-title" class="bg-title">Games</div>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
<!-- <canvas id="mouse-trail"></canvas>
<script src="/assets/js/mouse-trail.js"></script>     -->
</body>
</html>
